body {
    margin: 0;
    background-color: #b0ffb7;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #7db481;
    height: 60px;
    color: rgb(255, 255, 255);
}

#dentro_nav {
    display: flex;
    align-items: center;
}

#logo {
    height: 50px;
    width: 50px;
    margin-left: 10px;
}

#logo_name {
    margin-left: 4px;
    font-size: 40px;
}

#opcao_quiz {
    border: 1px solid #000;
    border-radius: 10px;
    width: 350px;
    padding: 3px;
    text-align: center;
}

.quiz01 {
    padding: 3px;
    border-radius: 10px;
    background-color: aquamarine;
    box-shadow: 0px 0px 20px 0px black;
}


.img_quiz {
    height: 200px;
    width: 300px;
    border-radius: 10px;
}
.btn_quiz{
    border-radius: 12px;
    background-color: whitesmoke;
}

#body_quizes {
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    align-items: center;
}

#div_campo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div_op {
    border-radius: 5px;
    border: #000 1px solid;
    padding: 10px;
    width: 30%;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.btn_escolha {
    border-radius: 10px;
    border: 1px solid #424242;
    box-shadow: 0px 2px 5px 0px black;
    width: -webkit-fill-available;
    margin-right: 12px;
    transition: 1s;
}

#btn_ops {
    display: flex;
    justify-content: space-around;
}

#btn_Finalizar{
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px black;
    transition: 1s;
}
/* hover or active */
.btn_quiz:hover{
    border: #7db481 1px solid;
    color: #b0ffb7;
    background-color: #9b9b9b;
}
.btn_escolha:hover {
    background-color: #e0e0e0;
    color: rgb(23, 68, 68);
}
#btn_Finalizar:hover{
    background-color: #222e23;
    color: #b0ffb7;
    border: #b0ffb7 solid 1px;
}